Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjsdocker build -t my-sveltekit-app .
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
# **/.env SvelteKit needs .env file during builddocker run