@import "tailwindcss";
@plugin "daisyui";

@theme {
	--breakpoint-xs: 30rem;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#FE5252";
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: "#FE5252";
}

.btn-primary {
  color: white !important;
}
